body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;   
}
h1 {
    font-weight: 900;
    line-height: 1.5em;
    font-size: 3.5rem;
    color: aliceblue;
}
h2 {
    font-family: "Montserrat";
    font-size: 3.0rem;
    font-weight: 900;
}
h3 {
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 900;
    
}
p {
    color: #8f8f8f;
}
.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-family: "Montserrat-Light" ;
    font-size: 1.2rem;
}

/* Download buttons */

.download-button {
   margin: 5% 3% 5% 0; 
}

/* Title Image */

.phone {
    transform: rotate(25deg);
    overflow: hidden;
    width: 60%;
    position: absolute;
    right: 30%;
}

/* Features */

#features {
    text-align: center;
    padding: 7% 15%;
    background-color: white;
    position: relative;
}
.feature-box {
    padding: 5%;
}
.icon {
    margin-bottom: 1rem;
    color: #ef8172;
}
.icon:hover {
    color: #ff4c68;
}

/* Testimonial section */

#testimonials {
    
    text-align: center;
    background-color: #ef8172;
    color: aliceblue;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;
}
/*    Press section */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logos {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Procing Section */

#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}
#pricing-btn {
    margin-top: 15%;
}


/* Call to action */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 3% 20%;
}
.cta > h3 {
    color: aliceblue;
    font-family: "Montserrat";
    font-size: 3.0rem;
}

/* Footer */

#footer {
    text-align: center;
    background-color: #fff;
    padding: 3% 20%;
}
footer i {
    padding: 3% 1%;
}

@media (max-width: 1028px){
    .phone {
        position: static;
        transform: none;
    }
    #title {
        text-align: center;
    }
}


